.pid{
  background: url(../images/pid.jpg) no-repeat center;
  position: relative;
  height: 400px;
}
.equipmentVar{
  position: absolute;
  width: 100px;
  height: 40px;
  border: 1px solid black;
  height: 30px;
  line-height: 30px;
  text-align: center;
}
.status-bar{
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 40px;
  line-height: 40px;
  background-color: grey;
}
