.pid{
  background: url(../images/pid.jpg) no-repeat center;
  position: relative;
  height: 400px;
}
.equipment{
  position: absolute;
  border: 1px solid black;
  text-align: center;
}
.status-bar{
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 20px;
  line-height: 20px;
  background-color: #ddd;
}
.log-container{
  position: fixed;
  bottom: 20px;
  height: 80px;
  width: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  border: 1px solid black;
  font-size: 10px;
}
.log-container .log{

}
.log.log-error{
  color:#a94442;
}
.log.log-warning{
  color:#8a6d3b;
}
.log.log-info{
  color:#31708f;
}
.row-var{
  height: 40px;
  line-height: 40px;
}
.var-value{
  margin-top:5px;
}
